header {
    height: 100px;
    background-color: fuchsia;
}

nav {
    height: 75px;
    background-color: palegreen;
}

main {
    height: 300px;
    background-color: deepskyblue;
}

footer {
    height: 100px;
    background-color: lightgreen;
}